* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
   
    background-color: rgb(107, 27, 107);

}


.showSpinner{


    background-image: url("../img/Spinner-Preloader-Gif.gif");

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;


}


#form {


    color: rgb(248, 244, 244);
    text-align: -webkit-center;
    padding: 2em;
    border-radius: 10px;
    background-color: rgb(78, 58, 166);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;

}

#form label {
    font-weight: bold;
    display: inline-block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#form input[type="text"],
#form select {
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #7e66b8;
    margin: auto;
    text-align: center;
    width: 100%;
    min-width: 50%;
    max-width: 50%;

}

#form input[type="text"]{

max-width: 50%;

}

#form button {
    padding: 8px 16px;


    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    display: inline-flexbox;
    margin: 10px 5px 0px 5px;
    width: 50%;



}
#btnGuardar {

    background-color: rgb(13, 13, 85);
}

#btnCancelar {

    background-color: rgb(153, 17, 17);

}


#agregar {

    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    display: inline-flexbox;
    margin: 10px 5px 0px 5px;
    background-color: black;



}



#bodyTabla {
    text-align: center;
    border: 1px solid black;
}


#tabla {
    position: static;
    width: 100%;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
    max-width: 60%;

   
}
#fila1{

    text-align: center;
    margin-left: 40%;
    margin-right: 30%;
    margin-top: 2%;

}

#fila1 button{

    margin-left: 2%;
}

#tabla tr,
td,
th{
    border: 1px solid black;
    border-collapse: collapse;

    padding: 5px 10px 5px 10px;
}

#tabla th {

    background-color: black;
    color: white;

}

#tabla tr:nth-child(odd) {
    background-color: #7e66b8;
}

#tabla tr:nth-child(even) {
    background-color: #d9cef1;
}

